[submodule "submodules/Heap-Layers"]
	path = submodules/Heap-Layers
	url = https://github.com/emeryberger/Heap-Layers
	branch = master
[submodule "submodules/Hoard"]
	path = submodules/Hoard
	url = https://github.com/mlr-msft/Hoard.git
	branch = msft/vanilla
[submodule "submodules/HoardRdma"]
	path = submodules/HoardRdma
	url = https://github.com/mlr-msft/Hoard.git
	branch = msft/rdma
[submodule "submodules/mimalloc"]
	path = submodules/mimalloc
	url = https://github.com/microsoft/mimalloc.git
	branch = master
[submodule "submodules/dpdk"]
	path = submodules/dpdk
	url = https://github.com/PisonJay/dpdk
	branch = fix-ar
